@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import "../css/reset.css";
@import "../css/common.css";

/* Header */
header {
    width: 100%;   
}

header .container .logo img{
    width: 35%;
    padding: 1rem;
}

header .container .menu {
    display: none;
    display: flex;
    flex-direction: column;
}

header .container .menu > li {
    flex: 1;
    margin: 2px;
}

header .container .menu > li a {
    display: block;
    padding: 30px;
    background-color: #3c3431;
    color: aliceblue;
    text-align: center;
}

/* Section brand main */
.brand .desktop_main {
    display: none;
}

.brand .desktop_main img {
    width: 100%;
}

/* Media Query - Tablet */
@media screen and (min-width: 768px) {
    /* Header */
    header .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 50px;
    }
    header .container .logo {
        display: none;
    }

    header .container ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: 50px;
    }

    header .container .xi-bars {
        display: none;
    }

    /* Section brand main */    
    .brand .desktop_main {
        display: block;
        position: relative;
    }

    .brand .desktop_main .background_img {
        width: 100%;
        height: 810px;
        background-image: url("../image/tablet.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        position: relative;
    }

    .brand .desktop_main .product_img {
        width: 30%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
    }

    .brand .desktop_main .brand_intro {
        width: 550px;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
    }
}
/* Media Query Desktop */
@media screen and (min-width: 1024px) {
    /* Header */
    header .container .logo {
        display: block;
    }
    .brand .desktop_main .background_img {
        width: 100%;
        height: 810px;
        background-image: url("../image/bg_prd_kanu.jpg");
        background-repeat: no-repeat;
        background-size: auto;
        position: relative;
    }
}


/* section부터 수정부터 컨셉은 맥심카누 사이트 단순화
제품은 플렉스와 그리드로 메인사진은 스와이퍼 적용 */