@import url(https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import "/assets/css/reset.css";
@import "/assets/css/common.css";

* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Spoqa Han Sans Neo", serif;
  font-size: 16px;
}
ul {
  list-style: none;
}

/* header */
header {
  width: 100%;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}
.logo {
}
header .container ul {
  display: none;
}
header .container li {
  padding: 0 20px;
}
@media screen and (min-width: 1024px) {
  header .container ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  header .container .xi-bars {
    display: none;
  }
}
